.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__main {
    position: relative;
    flex-grow: 1;
  }
}

.container1 {
  width: 1200px;
  margin: 0 auto;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1111px;
  margin: 0 auto;

}

@media (max-width: 700px) {
  .container2 {
    width: 282px;
  }
}

@media (max-width: 1100px) {
  .container1 {
    width: 688px;
  }

  .container2 {
    max-width: 689px;
  }
}
