.featured {
  height: 576px;

  &__options {
    display: flex;
    justify-content: flex-start;
  }

  &__options-item {
    margin-left: 15px;
    font-size: 15px;
    cursor: pointer;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 188px;
    height: 50px;
    margin: 40px auto;
    margin-bottom: 0;
    border: 0;
    border-radius: 3px;
    background: $c-primary;
    color: $c-white;
    font-size: 15px;
  }
}


.active {
  position: relative;

  &::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 35px;
    height: 15%;
    margin-top: 3px;
    border-bottom: 3px solid $c-primary;
    border-radius: 3px;
    background: transparent;
    content: '';
  }
}
