.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  &__item {
    flex-basis: calc(100% / 3 - 30px);
    width: 345px;
    margin: 15px;
    float: left;
  }

  &__item-image {
    width: 343px;
    height: 260px;
    object-fit: cover;
  }

  &__item-title {
    margin-bottom: 2px;
    color: $c-gray;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__item-subtitle {
    margin-top: 0;
    font-size: 20px;
  }

  &__half {
    display: flex;
  }

  &__half-group {
    flex-basis: (50%);
    border-top: 1px solid $c-gray;
    border-left: 1px solid $c-gray;

    &:first-of-type {
      border-left: 0;
    }

    &:last-of-type {
      padding-left: 15px;
    }
  }
}
@media (max-width: 768px) {
  .grid {
    &__item {
      flex-basis: calc(100% / 1);

      &:first-of-type {
        flex-grow: 1;
      }

      &:nth-last-child(-n+2) {
        flex-basis: calc(100% / 2 - 30px);
      }
    }

    &__item-image {

      &:first-of-type {
        width: 688px;
        height: 320px;
      }
    }
  }
}

@media (max-width: 420px) {
  .grid {
    &__item {
      flex-basis: calc(100% / 1);
    }
  }
}
