.hero {
  display: flex;
  min-height: 100vh;
  background: url('./images/hero-background.jpg') center center no-repeat;
  background-size: cover;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    transform: translate(-50%, -50%);
  }

  &__content-title {
    color: $c-white;
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero {

    &__content {
      width: 280px;
    }

    &__content-title {
      font-size: 36px;
      text-align: left;
    }
  }
}
