.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;

  &__logo {
    width: 43px;
    height: 54px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 356px;
  }

  &__item {
    color: $c-white;

    &--main {
      padding: 5px 10px;
      border-radius: 3px;
      background: $c-white;
      color: $c-black;
    }
  }
}

@media (max-width: 425px) {
  .nav {
    &__right {
      width: 170px;
    }

    &__item {
      &--hidden {
        display: none;
      }
    }
  }
}

@media (max-width: 780px) {
  .nav {
    margin: 0 10px;
  }
}
